@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}

#output-one{
    background-color: rgba(0, 0, 0, .75);
}
#output-two{
    background-color: rgba(0, 0, 0, .75);
}

#button-one{
    background-color: rgba(255, 255, 255, .75);
}
